default_profile: linux_self_1120

profiles:
  linux_self_1120:
    platform: Linux
    description: Default自采数据集1120
    paths:
      base_path: /datasets/PAR/Xray/self/1120/labeled
      json_base_path: /datasets/PAR/Xray/self/1120/adjust
      output_base_dir: roi2_merge
      reference_label_map_path: roi2_merge/yolo/dataset.yaml
    datasets:
      - D1
      - D2
      - D3
      - D4
      - img20250608
      - img20250609
    outputs:
      yolo_dir: yolo
      roi_dir: ROI
      roi_rotate: ROI_rotate
      patch_dir: patch_640
      cls_dir: patch_det
    params:
      labelme2yolo:
        seg: true
        unify_to_crack: true
        script_path: convert/labelme2yolo.py
      yolo_roi_extractor:
        model_path: ./model/weldROI2.pt
        roi_conf: 0.25
        roi_iou: 0.45
        padding: 0.1
        mode: seg
        script_path: convert/pj/yolo_roi_extractor.py
      rotate_yolo:
        script_path: convert/pj/rotateYOLOdate.py
      patchandenhance:
        overlap: 0.7
        enhance_mode: windowing
        slice_mode: 2
        window_size: [640, 640]
        label_mode: seg
        script_path: convert/pj/patchandenhance.py
      seg2det:
        mode: det
        script_path: convert/pj/seg2det.py
        balance_data: true


  linux_1205_folder:
    platform: Linux
    description: 12月5日客户新标注数据
    paths:
      base_path: /datasets/PAR/Xray/self/1208
      json_base_path: /datasets/PAR/Xray/self/1208/adjust_label
      output_base_dir: roi2_merge
      reference_label_map_path: roi2_merge/yolo/dataset.yaml
    datasets:
      - 6-1_8bit
      - 6-2_8bit
      - 7-1_8bit
      - 7-2_8bit
      - 8_8bit
      - 9-1_8bit
      - 9-2_8bit
      - DP_8bit

      
    outputs:
      yolo_dir: yolo
      roi_dir: ROI_1205
      roi_rotate: ROI_rotate_1205
      patch_dir: patch_
      cls_dir: patch_det
    params:
      labelme2yolo:
        seg: true
        unify_to_crack: false
        script_path: convert/labelme2yolo.py
      yolo_roi_extractor:
        model_path: /home/lenovo/code/CHT/detect/ultralytics-main/runs/detect/1208crack_pretrain22/weights/best.pt
        roi_conf: 0.25
        roi_iou: 0.45
        padding: 0.1
        mode: seg
        script_path: convert/pj/yolo_roi_extractor.py
      rotate_yolo:
        script_path: convert/pj/rotateYOLOdate.py
      patchandenhance:
        overlap: 0.5
        enhance_mode: windowing
        slice_mode: 2
        window_size: [640, 640]
        label_mode: seg
        script_path: convert/pj/patchandenhance.py
      seg2det:
        mode: det
        script_path: convert/pj/seg2det.py
        balance_data: true

  linux_SWRD_folder:
    platform: Linux
    description: 12月5日客户新标注数据
    paths:
      base_path: /datasets/PAR/Xray/opensource/SWRD8bit
      json_base_path: /datasets/PAR/Xray/opensource/SWRD8bit/swr_pipeline
      output_base_dir: swr_pipeline
      reference_label_map_path: roi2_merge/yolo/dataset.yaml
    datasets:


    outputs:
      yolo_dir: yolo
      roi_dir: ROI_jpg
      roi_rotate: ROI_rotate
      patch_dir: patch_slice3
      cls_dir: patch_det_slice3
    params:
      labelme2yolo:
        seg: true
        unify_to_crack: false
        script_path: convert/labelme2yolo.py
      yolo_roi_extractor:
        model_path: ./model/weldROI2.pt
        roi_conf: 0.25
        roi_iou: 0.45
        padding: 0.1
        mode: seg
        script_path: convert/pj/yolo_roi_extractor.py
      rotate_yolo:
        script_path: convert/pj/rotateYOLOdate.py
      patchandenhance:
        overlap: 0.5
        enhance_mode: windowing
        slice_mode: 3
        window_size: [640, 640]
        label_mode: seg
        script_path: convert/pj/patchandenhance.py
      seg2det:
        mode: det
        script_path: convert/pj/seg2det.py
        balance_data: true
